@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1370px;
  min-height: 100vh;
  font-family: "League Spartan";
  position: absolute;
  overflow-x: hidden;
}

/* lightdark */

.lightdark{
    background: hsl(222, 26%, 31%);
}

/* ======================== Star Main Area ================ */

#site {
  padding: 2rem;
  position: relative;
  width: 500px;
  margin-left: 25rem;
  margin-top: 3rem;
}

/* Navbar */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.nav-h1{
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.theme-span{
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    text-transform: uppercase;
}

.theme{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.theme-div{
    background-color: hsl(223, 31%, 20%);
    height: 20px;
    width: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
}

input:checked{
    background-color: hsl(6, 63%, 50%);
}


input{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    transition: 0.5%;
}

label{
    top: -20px;
    right: 10px;
    position: relative;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}



/* display */

.display{
    margin-top: 2rem;
    width: 100%;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 36%, 15%);
    padding: 2rem 1rem;
    text-align: end;
}

.input{
    margin-top: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2rem;
}

.output{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2rem;
}

/* keyboard */

.keyboard{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "seven eight nine del"
    "four five six add"
    "one two three sub"
    "dec zero div multi"
    "clear clear equals equals";
    gap: 1rem;
    background-color: hsl(224, 36%, 15%);
    padding: 1rem;
    border-radius: 8px;
}

.btn{
    border-radius: 10px;
    padding: 1rem;
    font-size: 32px;
    color: hsl(221, 14%, 31%);
    background: hsl(30, 25%, 89%);
    cursor: pointer;
    border: none;
    font-weight: 700;
    box-shadow: 3px 3px hsl(28, 16%, 65%);
}

.btn:hover{
    filter: brightness(150%);
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#del{
    grid-area: del;
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 4px 4px hsl(224, 28%, 35%);
}
#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#add{
    grid-area: add;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#subtract{
    grid-area: sub;
}

#decimal{
    grid-area: dec;
}

#zero{
    grid-area: zero;
}
#divide{
    grid-area: div;
}

#miltiply{
    grid-area: multi;
}

#clear{
    grid-area: clear;
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    box-shadow: 4px 4px hsl(224, 28%, 35%);
}

#equals{
    grid-area: equals;
    background-color:  hsl(6, 63%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: 4px 4px hsl(6, 70%, 34%);
}

/* Theme 2 */

.light{
    background-color: hsl(0, 0%, 90%);
}

.light .nav-h1, .light .theme-span, .light label, .light .input, .light .output{
    color: hsl(60, 10%, 19%);
}

.light .display{
    background-color: hsl(0, 0%, 93%);
}

.light .theme-div, .light .keyboard{
    background-color: hsl(0, 5%, 81%);
}

.light input:checked{
    background-color:  hsl(25, 98%, 40%);
}

.light .btn{
    color: hsl(60, 10%, 19%);
    background-color: hsl(45, 7%, 89%);
    box-shadow: 4px 4px hsl(35, 11%, 61%);
}

.light #del, .light #clear{
    color: hsl(0, 0%, 100%);
    background-color:  hsl(185, 42%, 37%);
    box-shadow: 4px 4px hsl(185, 58%, 25%);
}

.light #equals{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 98%, 40%);
    box-shadow: 4px 4px hsl(25, 99%, 27%);
}

/* Theme 3 */ 

.dark{
    background-color: hsl(268, 75%, 9%);
}

.dark .nav-h1, .dark .theme-span, .dark label, .dark .input, .dark .output {
    color: hsl(52, 100%, 62%);
}

.dark .theme-div, .dark .keyboard, .dark .display{
    background-color: hsl(268, 71%, 12%);
}

.dark input:checked{
    background-color: hsl(176, 100%, 44%);
}

.dark .btn{
    color: hsl(52, 100%, 62%);
    background-color:  hsl(268, 47%, 21%);
    box-shadow: 4px 4px hsl(290, 70%, 36%);
}
 
.dark #del, .dark #clear{
    color: hsl(0, 0%, 100%);
    background-color: hsl(281, 89%, 26%);
    box-shadow: 4px 4px hsl(285, 91%, 52%);
}

.dark #equals{
    color: hsl(198, 20%, 13%);
    background-color: hsl(176, 100%, 44%);
    box-shadow: 4px 4px hsl(177, 92%, 70%);
}

/* ======================== End Main Area ================ */

/* ======================== START Footer Area ================ */

.foot {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 20px;
    color: hsl(35, 77%, 62%);
    justify-content: center;
    background-color: hsl(240, 10%, 16%);
    padding: 5px;
  }
  
  .foot a {
    color: hsl(5, 85%, 63%);
    text-decoration: none;
  }
  
  .foot a:hover {
    color: white;
  }
  
  /* ======================== End Footer Area ================ */
  
  /* ======================== Start Media Querry Area ================ */
  
  @media screen and (max-width: 375px) {
    body{
        min-width: 375px;
    }

    #site{
        margin-left: 0;
        width: 370px;
        margin-top: 2rem;
    }

    .btn{
        padding: 1rem 0.5rem;
    }
  }